@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

:root {
  color-scheme: dark;
  font-family: Inter, system-ui, sans-serif;
}

body {
  margin: 0;
  background: #0e1116;
  color: #e6e9ee;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(35, 49, 72, 0.3);
  scrollbar-width: thin;
}

html {
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(35, 49, 72, 0.3);
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
}
